<h2 class="center">Clientes</h2>
<br>
<table class="table table-striped table-bordered table-hover center">
  <tr>
    <th>Nome</th>
    <th>Idade</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.idade %></td>
    <td><%= link_to 'Mostrar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
  </tr>
<% end %>
</table>
<br>
<%= paginate @clientes %>
<br>
<b><%= link_to 'Novo Cliente', action: 'new'%></b>


