<div class="container">
 	<div class="form_">
		<h2 class="center">Adicionar Restaurante</h2>
		<% if @restaurante.errors.any? %>
			<ul>
			<% @restaurante.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		<% end %>
		
		<!-- Adicionar arquivo no cadastro de restaurante-->
		
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<td>
					
						<%= form_for :restaurante, url: {action: 'create'}, :html => {:multipart => true} do |f| %>
							Nome: 	  <%= f.text_field :nome %><br/><br/>
							Endereço: <%= f.text_field :endereco %><br/><br/>
							Especialidade: <%= f.text_field :especialidade %><br/><br/>
							<%= submit_tag 'Criar' %>
						<% end %>
					
				</td>
			</tr>
		</table>
		
		<table class="table table-striped table-bordered table-hover center">
			<td>
				<%= link_to 'Voltar', {action: 'index' } %>
			</td>
		</table>
	</div>
</div>
