<%= render partial: "titulo" %>

<h2 class="center">Exibindo Restaurante</h2>

<table align="center">
	<tr>
		<td align="left">
				<p>
					<b>Nome: </b>
					<%= @restaurante.nome %>
				</p>
				<p >
					<b>Endereço: </b>
					<%= @restaurante.endereco %>
				</p>
				<p>
					<b>Especialidade: </b>
					<%= @restaurante.especialidade %>
				</p>
				<p>
					<b>Nota Média: </b>
					<%= @restaurante.qualificacoes.average(:nota) %></br>
				</p>	
				<p>
					<b>Qualificações: </b>
					<%= @restaurante.qualificacoes.count %></br>
				</p>
				<p>
					<b>Preço médio: </b>
					<%= @restaurante.qualificacoes.average(:valor_gasto) %></br>
				</p>

				<b>
				<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %><br />
				<%= link_to 'Editar', action: 'edit', id: @restaurante %>
				<%= link_to 'Voltar', action: 'index' %>
				</b>
				<% unless @restaurante.comentarios.empty?%>
					<%= comentarios @restaurante %>
				<%end%>
		</td>
	</tr>
</table>

<br>
<s class="bt" title="Novo Comentário" style="text-decoration:none">
	<font color="white"><%= novo_comentario(@restaurante) %>
</s>
<br>
