<%= render partial: "titulo" %>

<h1 align = "center" class="titulo"><font color="#9B1C26">Exibindo Restaurante</font></h1>

<table align="center">
	<tr>
		<td align="left">
			<font size="6" >
				<p>
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Nome: </font></b>
						<%= @restaurante.nome %>
					</font>
				</p>

				<p >
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Endereço: </font></b>
						<%= @restaurante.endereco %>
					</font>
				</p>

				<p>
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Especialidade: </font></b>
						<%= @restaurante.especialidade %>
					</font>
				</p>

				<p>
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Nota Média: </font></b>
						<%= @restaurante.qualificacoes.average(:nota) %></br>
					</font>
				</p>	

				<p>
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Qualificações: </font></b>
						<%= @restaurante.qualificacoes.count %></br>
					</font>
				</p>

				<p>
					<font color="darkgrey" size="6">
						<b><font color="#9b1c26">Preço médio: </font></b>
						<%= @restaurante.qualificacoes.average(:valor_gasto) %></br>
					</font>
				</p>

				
				<p>
					<font color="#9b1c26" size="6">
						<b>Foto:</b>
					</font>
				</p>

				<p align="center">
					<%= image_tag @restaurante.foto.url(:thumb) %>
				</p>

				<b>
				<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>

				<%= link_to 'Editar', action: 'edit', id: @restaurante %>
				<%= link_to 'Voltar', action: 'index' %>
				</b>

				<font size="6" color="#9B1C26">
					<% unless @restaurante.comentarios.empty?%>
					<%= comentarios @restaurante %>
					<%end%>
				</font>

			</font>
		</td>
	</tr>
</table>

<br>
<br>

<font class="novo" size="6">
	<s class="bt" title="Novo Comentário" style="text-decoration:none">
		<font color="white"><%= novo_comentario(@restaurante) %></font>
	</s>
</font>

<br>
<br>
<br>
