<%= form_for(@qualificacao) do |f| %>
  <% if @qualificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualificacao.errors.count, "error") %> prohibited this qualificacao from being saved:</h2>

      <ul>
        <% @qualificacao.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @qualificacao.cliente %>
    <%= f.hidden_field 'cliente_id' %>
    <% else %>
    <p><font color="darkgrey" size="6"><%= f.label :cliente_id %><br /></font>
    <%= f.collection_select(:cliente_id, Cliente.order('nome'), :id, :nome, {:prompt => true}) %></p>
<%end%>
  </div>

  <div class="field">
    <% if @qualificacao.restaurante %>
    <%= f.hidden_field 'restaurante' %>
    <%else%>
    <p><font color="darkgrey" size="6"><%= f.label :restaurante_id %><br /><font>
    <%= f.collection_select(:restaurante_id, Restaurante.order('nome'), :id, :nome, {:prompt => true}) %></p>
    <%end%>
  </div>

  <div class="field">
    <font color="darkgrey" size="6"><%= f.label :nota %><br /></font>
    <%= f.text_field :nota %>
  </div>
  <div class="field">
    <font color="darkgrey" size="6"><%= f.label :valor_gasto %><br /></font>
    <%= f.text_field :valor_gasto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
