<h1 class="titulo" align="center"><font color="#9B1C26">Lista de Qualificacoes</h1>

<table align="center" width="80%">
 
  <br>
  <br>
  <br>

  <tr>
    <th><font color="#9B1C26" size="6" align="center">Cliente</font></th>
    <th><font color="#9B1C26" size="6" align="center">Restaurante</font></th>
    <th><font color="#9B1C26" size="6" align="center">Nota</font></th>
    <th><font color="#9B1C26" size="6" align="center">Valor gasto</font></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualificacoes.each do |qualificacao| %>
  <tr>
    <td><font color="darkgrey" size="6"><%= qualificacao.cliente.nome %></td>
    <td align="center"><font color="darkgrey" size="6"><%= qualificacao.restaurante.nome %></td>
    <td align="center"><font color="darkgrey" size="6"><%= qualificacao.nota %></td>
    <td align="center"><font color="darkgrey" size="6"><%= qualificacao.valor_gasto %></td>
    <td align="center"><font color="darkgrey" size="6"><%= link_to 'Mostrar', qualificacao %></td>
    <td align="center"><font color="darkgrey" size="6"><%= link_to 'Editar', edit_qualificacao_path(qualificacao) %></td>
    <td align="center"><font color="darkgrey" size="6"><%= link_to 'Remover', qualificacao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br>
<br>
<br>
<y align="center" class="fonte">
<center><%= paginate @qualificacoes %>
</y>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<font class="novo" size="6">
  <!--<%= link_to 'Novo', action: 'new' %>-->

<a class="bt" href="http://localhost:3000/qualificacoes/new" title="Nova Qualificação">
  <font color="white">Nova Qualificação</font>
</a>  
</font>


